
/* Small Screens < 768px */

@media screen and (max-width: 768px) {
  /* Nav Menu */
  .large-screens {
    display: none;
  }

  #navbar-menu-overlay {
    font-size: 20px;
    color: white;
    background-color: #128f76;
    text-align: center;
    margin-top: -8px;
  }

  .navbar-header {
    padding-right: 6px;
    padding-left: 6px;
  }

  .glyphicon-play, .glyphicon-pause, .glyphicon-repeat {
    font-size: 40px;
    color: white;
  }

  .navbar-toggle .icon-bar {
    margin: auto;
    height: 5px;
    width: 32px;
  }

  .btn {
    height: 70px;
  }

  .play-pause-btn, .reset-btn {
    background-color: transparent;
    border: 1px solid #128f76;
  }

  .play-pause-btn:hover, .reset-btn:hover {
    background-color: #128F76;
  }

  /* Question Box */
  .question-box {
    border: 1px solid #2c3e50;
    height: 90px;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .question-box-number {
    font-size: 50px;
    text-align: center;
    padding-top: 8px;
    padding-right: 5px;
  }

  /* Timerbar */
  .timerbar {
    height: 90px;
  }

  .progress {
    height: 90px;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
  }



  /* Timer */
  .timer-countdown {
    font-size: 100px;
  }

  .timer-location {
    text-align: center;
    margin: 30% 0 30% 0;
  }

  /* Timer Finished Modal */
  .timer-end-modal-vertical-centered {
    transform: translate(0, 50%) !important;
    -ms-transform: translate(0, 50%) !important; /* IE 9 */
    -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
  }

  .timer-end-modal-header {
    background-color: #e74c3c;
  }

  .modal-title {
    text-align: center;
  }

  .timer-end-modal-btn {
    height: 45px;
  }

  /* Help Modal */

  .help-modal-header {
    background-color: #128F76;
  }

  .help-modal-btn {
    height: 45px;
    background-color: #128F76;
    border-color: #128F76;
  }
}




/* Large Screens > 768px */
@media screen and (min-width: 768px) {
  .small-screens {
    display: none;
  }

  /* Nav Menu */

  .container-fluid {
    height: 100px;
  }

  .glyphicon-play, .glyphicon-pause, .glyphicon-repeat {
    font-size: 40px;
    color: white;
  }

  .play-pause-btn, .reset-btn, .part5-btn, .part6-btn, .part7-btn, .allparts-btn, .testpart-btn {
    background-color: transparent;
    border: 1px solid #128f76;
    height: 90px;
    width: 150px;
    color: white;
    font-size: 20px;
  }

  .play-pause-btn:hover, .reset-btn:hover, .part5-btn:hover,
  .part6-btn:hover, .part7-btn:hover, .allparts-btn:hover, .testpart-btn:hover {
    background-color: #128F76;
  }

  /* Timerbar */
  .timerbar {
    height: 100px;
  }

  .progress {
    height: 100px;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
  }

  /* Timer */
  .timer-countdown {
    font-size: 200px;
  }

  .timer-location {
    text-align: center;
    margin-top: 7%;
  }

  .activePart-title {
    font-size: 40px;
  }

  /* Question Box */
  .question-box {
    border: 1px solid #2c3e50;
    height: 100px;
    text-align: center;
    padding: 0;
    margin: 0;
  }

  .question-box-number {
    font-size: 75px;
    text-align: center;
    margin-top: -10px;
    padding-right: 5px;
  }

  /* Timer Finished Modal */
  .timer-end-modal-vertical-centered {
    transform: translate(0, 50%) !important;
    -ms-transform: translate(0, 50%) !important; /* IE 9 */
    -webkit-transform: translate(0, 50%) !important; /* Safari and Chrome */
  }

  .timer-end-modal-header {
    background-color: #e74c3c;
  }

  .modal-title {
    text-align: center;
  }

  .timer-end-modal-btn {
    height: 45px;
  }
}


