
<!-- screens less than 768px -->

<div class="col-xs-3">
    <nav class="navbar navbar-inverse navbar-fixed-bottom small-screens" role="navigation">

        <div class="collapse navbar-collapse" id="collapsed-navbar" ng-controller="PartsCtrl as part">
            <ul class="nav navbar-nav">
                <li>MENU</li>
                <li ng-class="{ active: part.isSet(1) }"><a href ng-click="part.setPart(1)">PART 5</a></li>
                <li><a href ng-click="part.setPart(2)">PART 6</a></li>
                <li><a href ng-click="part.setPart(3)">PART 7</a></li>
                <li><a href ng-click="part.setPart(4)">ALL PARTS</a></li>
                <li><a ui-sref="help">HELP</a></li>
            </ul>
        </div>

        <div class="container-fluid">
            <div class="navbar-header col-xs-4 col-sm-4 col-md-4">

                <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse"
                        data-target="#collapsed-navbar">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <div class="col-xs-4 col-sm-4 col-md-4">
                <button type="button" class="navbar-toggle timer-controls pull-right">
                    <span class="glyphicon glyphicon-play"></span>
                </button>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4">
                <button type="button" class="navbar-toggle timer-controls pull-right">
                    <span class="glyphicon glyphicon-repeat"></span>
                </button>
            </div>
        </div>
    </nav>
</div>

<!-- screens more than 768px -->