<!-- structure for the timer -->

<div class="row timer-location">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div id="timercountdown" class="timer-countdown">
            <timer interval="1000" autostart="false" countdown="activePart.timerDuration" max-time-unit="'minute'">
                {{ mminutes }}:{{ sseconds }}
            </timer>
        </div>
        <div class="col-xs-12 col-sm-12">
            <em>{{ activePart.name | uppercase }}</em>
        </div>
    </div>
</div>


<!-- keeping code below as an example of how to use ng-class to change btn labels -->
<!--<div>-->
<!--<button type="button" id="startBTN" class="btn btn-primary" ng-show="!timerRunning"-->
<!--ng-click="startTimer()" style="width: 70px;">{{ startLabel }}</button>-->
<!--</div>-->

