<!-- this provides the structure for the timerbar-->
<div ng-controller="PartsCtrl as part">
    <!--<strong style="text-align: center" ng-show="part.isSet(0)">Timerbar Info Here</strong>-->
    <strong style="text-align: center" ng-show="part.isSet(1)">{{ parts[0].questionDuration | date : 'ss:ss' }}</strong>
    <strong style="text-align: center" ng-show="part.isSet(2)">{{ parts[1].questionDuration | date : 'ss:ss' }}</strong>
    <strong style="text-align: center" ng-show="part.isSet(3)">{{ parts[2].questionDuration | date : 'ss:ss' }}</strong>
    <strong style="text-align: center" ng-show="part.isSet(4)">{{ parts[3].questionDuration | date : 'ss:ss' }}</strong>
</div>