<!-- sample code to test if bindings are working correctly-->
<div class="row timer-location">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div id="timercountdown" class="timer-countdown">
            <timer interval="1000" autostart="false" countdown="activePart.timerDuration" max-time-unit="'minute'">
                {{ mminutes }}:{{ sseconds }}
            </timer>
        </div>
        <div class="col-xs-12 col-sm-12">
            <em>{{ activePart.name | uppercase }}</em>
        </div>
    </div>


    <br/>
    <br/>

    <div>
        <h3>
            <timer interval="1000" autostart="false" countdown="activePart.timerDuration" max-time-unit="'minute'">
                {{ mminutes }}:{{ sseconds }}</timer>
        </h3>
        <button type="button" id="startBTN" class="btn btn-primary" ng-click="startTimer()">START</button>
        <button type="button" class="btn btn-warning" ng-click="stopTimer()">STOP</button>
        <button type="button" class="btn btn-danger" ng-click="resetTimer()">RESET</button>
    </div>
    <br/>
    <div>
        <timer interval="1000" autostart="false" countdown="activePart.questionDuration">
            <div class="progress">
                <div class="progress-bar progress-bar-striped active my-reverse-class" aria-valuemax="0"
                     aria-valuemin="60" aria-valuenow="{{ seconds }}" role="progressbar"  style="width: {{seconds}}%;">
                    <span class="sr-only">{{ seconds }}</span>QUESTION TIME
                </div>
            </div>
        </timer>
    </div>
    <br/>
    <div>
        <timer interval="1000" autostart="false" countdown="100">{{ sseconds }}</timer>
        <br/>
        <timer countdown="10041" interval="1000">{{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}</timer>
    </div>

</div>

